.explore-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.loading-text {
  text-align: center;
  font-size: 18px;
  color: gray;
}

/* GRID LAYOUT */
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.image-item {
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.explore-photo {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.explore-photo:hover {
  transform: scale(1.05);
}

/* Random Large Images */
.image-item.large {
  grid-column: span 2;
  grid-row: span 2;
}
